<html>
  <head>
    <title>Chitty</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-ui-router.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.js">
  </head>
  <body ng-app="chitty" ng-controller="MainCtrl as main">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h1>{{main.test}}</h1>

        <div ng-repeat="post in main.posts | orderBy: '-upvotes'">
          <span ng-click="incrementUpvotes(post)">^</span>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          - thumbs up: {{post.upvotes}}
        </div>

        <form ng-submit="main.addPost()">
          <hr>
          <h3>Add a new post</h3>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" ng-model="main.title"/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Link" ng-model="main.link"/>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>
  </body>
</html>